<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_partner" name="BMS" />
    <menuitem id="menu_business_partner" name="Shipment" action="action_partner_shipment" parent="menu_partner"/>
    <menuitem id="menu_customer_followup" name="followup" action="action_customer_followup" parent="menu_partner"/>
    <menuitem id="menu_customer_partner" name="customer" action="action_task_customer" parent="menu_partner"/>
    <menuitem id="menu_credit_notes" name="invoices" action="account.action_move_out_invoice" parent="menu_partner"/>
    <menuitem id="menu_wizard_partner" name="partner report" action="action_wizard_report" parent="menu_partner"/>

</odoo>